In [1]:
#this is my first comment
print("Hello, World!")

Hello, World!

In [2]:
name ="ava lavigne"
name.upper()

'AVA LAVIGNE'

# Getting started with code

## my second code

```
print("Hello World")
```

Add a [youtube](https://www.youtube.com)

In [5]:
for letter in "Moringa":
 print(letter)

M
o
r
i
n
g
a

## functions practice

In [2]:
def myfunction(a,b):
    return a+b

print(myfunction(2,5))

7

In [3]:
#function that accepts one numeric parameter 
#function to convert radians to degrees the return the value
def radian_to_degree(radian):
    return radian *57.2958

print(radian_to_degree(50))

2864.79

In [7]:
#Function to sort a list
def sort_list(list,sort):
    if sort == "ascending":
        return sorted(list)
    elif sort == "descending":
        return sorted(list,reverse=True)
    else:
        return "Invalid sort type"

print(sort_list([1,2,3,4,5],"none"))

Invalid sort type

In [9]:
#convert decimal number to binary
def dec_to_binary(decimal):
    return bin(decimal)


print(dec_to_binary(15))

0b1111

In [13]:
#function that accepts a list and returns the sum of the elements in the list
def sum_list(list):
    return len(list)

print(sum_list(["tomatoes","oranges","bananas", "mangoes"]))

4

In [15]:
#function that accepts a list and returns the average of the elements in the list
def average_list(list):
    return sum(list)/len(list)

print(average_list([67,89,8935,535]))

2406.5

In [21]:
#function to accept a word and return the number of vowels in the word
def count_vowels(word):
    vowels ='a','e','i','o','u'
    count = 0
    for letter in word:
        if letter in vowels:
            count += 1

    return count

# Test the function
print(count_vowels("pneumonia"))

5

In [22]:
#function to hide the credit card number
def hide_card_number(card_number):
    return "**** **** **** " + card_number[-4:]

print(hide_card_number("1234 5678 9876 5432"))

**** **** **** 5432

In [23]:
#function to accept string,count no of xs and nos of os in string
#return either True or false
def count_no_of(string):
  count_x = string.count('x')
  count_o = string.count('o')

  return count_x == count_o    
print(count_no_of("Policexsfe"))

True

In [24]:
#function to create a calculator function
def calculator(a,operator, b):
    if operator == '+':
        return a + b
    elif operator == '-':
        return a - b
    elif operator == '*':
        return a * b 
    elif operator == '/':
        return a / b
    else:
       return "Invalid operator"

print (calculator(6, '*', 56 ))

336

In [25]:
#function to give discount
def give_discount(fixed_price,discount):
    return fixed_price - discount 
print(give_discount(100,20))

80

In [26]:
#function to accept list with both integers and strings return 
#a list with integers only 
def my_list(list):
    #list comprehension to iterate over every element x in the list
    #insintance(x,int) checks if the x is in an in integers then adds it in the new list
    integers = [x for x in list if isinstance(x, int)]
    return sorted(integers)
    
     
# Test the function
print(my_list([6, 7, 8, "mama", "toy", 1, "bricks"]))

[1, 6, 7, 8]

In [27]:
#function to accept string and return a string with repeated character
def rep_char(string):
    #list comprehension to iterate through each character and double each character
    my_string =[x*2 for x in string ]
    return ''.join(my_string)# ' ' specifies how the characters should be joined without any 
    #other characters in between it

print(rep_char("and"))

aanndd

In [28]:
#function to convert minute to seconds
def min_to_sec(a):
    return  a * 60 
minute = int(input("Enter minute: \n"))

print(min_to_sec(minute))

In [6]:
#function for dictionary 
students = {
    "Name" :["Anthony","James", "Christine","Ali","Martha","Jane"],
    "Grades" :{
        "Pre-work" :[10,2,31,24,78,21],
        "Post-work":[78,67,89,88,90,91]
    },
    "class":"DSF-FTO9",
    "year":2024
}

even_pre_work = students["Grades"]["Pre-work"]
even_pre_work = [x for x in even_pre_work if x % 2 == 0]
print(even_pre_work)

#for even in students["Grades"]["Pre-work"]:
    #if even % 2 == 0:
        #print(even)

[10, 2, 24, 78]

In [20]:
#create a triangle using * without using a function
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [26]:
#create a christmas tree using two for loops
rows = 5
for i in range(1,rows+1):#no of rows
 for r in  range(1, i + 1):#no of columns
     print("*" , end = "")
 print()

*
**
***
****
*****

In [31]:
#create a triangle that starts spacing from the right not the left
rows = 5
for i in range(1,rows+1):
    for j in range(1, rows+1):
        if j < rows - i + 1:
            print(" ", end = "")
        else:
            print("*", end = "")
    print()

    *
   **
  ***
 ****
*****

In [34]:
##create a triangle that starts spacing from the right not the left
rows = 5
for i in  range(1,rows + 1):
 print(" " * (rows - i) + "*" * i)

    *
   **
  ***
 ****
*****

In [3]:
#looping through lists
languages = ["Python","Java","C++","JavaScript","Ruby"]
i =0
while i <(len(languages)):
    print('#' + str(i + 1), languages[i])
    i += 1

#1 Python
#2 Java
#3 C++
#4 JavaScript
#5 Ruby

In [4]:
#looping through lists
languages = ["Python","Java","C++","JavaScript","Ruby"]
i =0
while i <(len(languages)):
    print( languages[i])
    i += 1

Python
Java
C++
JavaScript
Ruby

In [9]:
#loop through using enumerate
languages = ['Python', 'Go', 'Dart']
for i, language in enumerate(languages):
  print('#' + str(i + 1), languages[i])

#1 Python
#2 Go
#3 Dart

In [12]:
#loop through using enumerate
languages = ['Python', 'Go', 'Dart']
for i, language in enumerate(languages):
  print(str(i + 1), language) #coz we are combining a string and an integer we have to convert the integer to a string

1 Python
2 Go
3 Dart

In [15]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

students = []

students.append(Student('Mark', 25))
students.append(Student('Emma', 22))
students.append(Student('Jones', 24))

students

[<__main__.Student at 0x20dbaf2adf0>,
 <__main__.Student at 0x20dbaeec520>,
 <__main__.Student at 0x20dbaf41070>]

In [18]:
#using map function
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
squared = list(map(square, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [3]:
#using both enumerate and zip
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]
 
for i,( name, age) in enumerate(zip(names, ages)):#enumerate iterates through the whole loop in the form of index and the element 
    #zip combines the two lists
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [4]:
#zip in list comprehension
stocks = ['GEEKS', 'For', 'geeks']
prices = [2175, 1127, 2750]
 
new_dict = {stocks: prices for stocks,
            prices in zip(stocks, prices)}
print(new_dict)

{'GEEKS': 2175, 'For': 1127, 'geeks': 2750}

In [5]:
# Python code to demonstrate the application of
# zip()
 
# initializing list of players.
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]
 
# initializing their scores
scores = [100, 15, 17, 28, 43]
 
# printing players and scores.
for pl, sc in zip(players, scores):
    print(f" Player : {pl} Score : {sc}")

 Player : Sachin Score : 100
 Player : Sehwag Score : 15
 Player : Gambhir Score : 17
 Player : Dravid Score : 28
 Player : Raina Score : 43

In [1]:
#use the filter function to filter out odd numbers
mine = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_even(x):
    #function to check if number in list is even
    return  x % 2 == 0

#call the function is_even using the filter function
even_numbers = list(filter(is_even, mine))#filter function takes each number through the function is_even if even it returns true
#and adds it to the list even_numbers
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [1]:
#list of dictionaries
myList = [
	{
		'foo':12,
		'bar':14
	},
	{
		'moo':52,
		'car':641
	},
	{
		'doo':6,
		'tar':84
	}
]

print(myList)
type(myList)
#dictionary is like an element in a list thus {'foo':12,'bar':14} is an element at index 0  in the list myList
#{'moo':52,'car':641} is an element at index 1 in the list myList
#and {'doo':6,'tar':84} is an element at index 2 in the list myList

[{'foo': 12, 'bar': 14}, {'moo': 52, 'car': 641}, {'doo': 6, 'tar': 84}]

list

## Accessing dictionaries in lists

In [6]:
#to access the first dictionary
myList[0]
#to access the value of foo
myList[0]['foo']
#to access the value of bar
myList[0]['bar']
#to access the second dictionary
myList[1]
#to access the key of the first item dictionary
myList[1].keys()
#to access the first value of the dictionary at index 2
myList[1]['moo']
#update the key:value pair of the dictionary 1
myList[0]['foo'] = 250
myList[0]['foo']

#add a key value item in the second dictionary 
myList[1]['new_key'] = 200
myList

#delete a key:value pair in the last dictionary
#del myList[2]# output [{'foo': 250, 'bar': 14},{'moo': 52, 'car': 641, 'new_key': 200}]
#myList

#DELETE only one key:value pair in the dictionary at index 1
del myList[1]['moo'] #output [{'foo': 250, 'bar': 14}, { 'car': 641, 'new_key': 200}]
myList

[{'foo': 250, 'bar': 14}, {'car': 641, 'new_key': 200}]

In [8]:
#pop a key:value pair
#myList[1].pop('car')
#myList
#clear
#myList[1].clear() ->dictionary at index 1 will come back empty

# Append dictionary to list
myList.append({'joo':48, 'par':28})
myList

[{'foo': 250, 'bar': 14}, {'new_key': 200}, {'joo': 48, 'par': 28}]

sorting dictionaries

In [9]:
#sorting a dictionary based on values
dict1 = {
    "key1": 56,
    "key2": 10,
    "key3": 12,
    "key4": 7}

sorted_dict = dict(sorted(dict1.items(), key=lambda item: item[1]))
print(sorted_dict)

{'key4': 7, 'key2': 10, 'key3': 12, 'key1': 56}

In [15]:
colors = ["orange",'magenta','purple',"orange"]
for color in colors:
    if color == "orange":
         break
    print(color)

In [16]:
#use continue to print out all the even numbers
for i in range(0,30):
    #if condition to check if number is odd
    if i %2 != 0:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

## using Numpy to perform math operations

In [2]:
pip install numpy

Collecting numpyNote: you may need to restart the kernel to use updated packages.

  Downloading numpy-1.26.4-cp39-cp39-win_amd64.whl (15.8 MB)
Installing collected packages: numpy
Successfully installed numpy-1.26.4

In [5]:
import numpy as np
#create a numpy array
numpy_array = np.array([1,2,3,4,5,])#single dimensional array
print(numpy_array)

#multi_dimensional array
array_multi_dimensional = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(array_multi_dimensional)

[1 2 3 4 5]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

Performing area

In [6]:
#getting the square area of a room given a list of room dimensions
#assign the room dimensions to a variable as an array
length_of_room = np.array([10,20,30,40,50])
#width of the room
width_of_room = np.array([5,10,15,20,25])
#square area of the room 
sq_area = length_of_room * width_of_room
print(sq_area)#provides output in array form

[  50  200  450  800 1250]

In [ ]:
#FUNCTION TO CONVERT FAHREINHEIT TO CELSIUS
#T(°C) = (T(°F) - 32) × 5/9
# Average temps in NYC from January -> December (in fahrenheit)
#nyc_avg_temps_f = [39, 42, 50, 62, 72, 80, 85, 84, 76, 65, 54, 44]
#np_nyc_avg_temps_f = np.array(nyc_avg_temps_f)
#np_nyc_avg_temps_c = (np_nyc_avg_temps_f - 32) * (5/9)

#OUTPUT
#With NumPy: [ 3.88888889  5.55555556 10.         16.66666667 22.22222222 26.66666667
 #29.44444444 28.88888889 24.44444444 18.33333333 12.22222222  6.66666667]

In [17]:
#np.zeros((4,3,2)) creates a 3 dimensional array of 0's
#np.empty((4,3,2,)) creates a 3 dimensional array of 0's
#np.zeros((2), dtype = int)
#np.ones((2,3)) creates a 2 dimensional array of 1's
np.ones(5)#creates a single dimensional array of 1's

array([1., 1., 1., 1., 1.])

In [21]:
#np.full((2,2), 9)#creates a 2 dimensional array of 9's output array([[9, 9],[9, 9]])
#np.full(5,3)# creates a single dimensional array  of 3's in 5 columns output array([3, 3, 3, 3, 3])
# Create a 1d array with 5 elements, filling them with the values 0 to 4
np.full(5, range(5)) #output array([0, 1, 2, 3, 4])

array([0, 1, 2, 3, 4])

In [22]:
#accessing array elements
x = np.array([[1, 2, 3],
               [4, 5, 6], 
               [7, 8, 9], 
               [10, 11, 12]])
print(x.shape)

(4, 3)

accessing a specific element in the array

In [51]:
#access a specific element in the array
x[0,0]  #output 1 -> the first element in row 1 column 1
x[0,1] #output 2 -> the second element in row 1 column 2   
x[1,2] #output 6 -> the third element in row 2 column 3
x[2,1] #output 8 -> the second element in row 3 column 2

8

accessing elements of a specific row or specific column

In [53]:
#retrieving the first row
x[0] #output array([1, 2, 3])
#retrieving the first row the first column
x[0:,1] #array([ 1,  4,  7, 10])
#retrieving all the values of column two from the first  row to the last
x[0:,1] #output array([ 2,  5,  8, 11])
#retrieving the first two rows
x[:2] #output array([[1, 2, 3],[4, 5, 6]])
#retrieving the values of column three from the second row
x[1:,2]     #output array([ 6,  9, 12])
# Retrieving the second column
x[0:,1] #output array([ 2,  5,  8, 11])
# Retrieving all rows after the first row
x[1:] #output array([[ 4,  5,  6],[ 7,  8,  9],[10, 11, 12]])

array([[ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

slicing a multidimensional array
you cannot slice into mutliple dimensions

In [56]:
#to slice multidimensional arrays 
x[1:3, 0:2] # this will return the first two columns of the second and third rows
#output array([[4, 5], [7, 8]]) 
# Rows 2 through 4, columns 1 through 3
x[2:4,1:3] #output array([[ 8,  9],[11, 12]])
# All rows, column 0
x[:,0] #output array([ 1,  4,  7, 10])

array([ 1,  4,  7, 10])

3D slicing

In [62]:
# With a 3D array
x = np.array([
              [[1,2,3], [4,5,6]],
              [[7,8,9], [10,11,12]]
             ])
x.shape #output (2,2,3)
x[:,:,1]

array([[ 2,  5],
       [ 8, 11]])

## calculating the median, mode and mean

In [1]:
#function for mean
def get_mean(data):
    # Replace None with appropriate code
    mean = None
    sum = 0
    #calculate the sum of numbers 
    for number in data:
      sum = sum + number
    #calculate the mean 
    mean = sum/len(data)
    #round of mean and return the rounded off mean
    return round(mean,2)

test1 = [5, 4, 1, 3, 2]
test2 = [4, 2, 3, 1]

print(get_mean(test1)) # 3.0
print(get_mean(test2)) # 2.5

3.0
2.5

In [2]:
#function to calculate median
def get_median(data):
    # Replace None with appropriate code
    #sort the data in the list first
    data_sorted = sorted(data)

    #check if data has even or odd number of data points
    length = len(data_sorted)
    #condition to check 
    if length % 2 == 0:
      #calculate median by taking two numbers adding them and divide by 2
      median = (data_sorted[length // 2 - 1] + data_sorted[length // 2])/2
    #condition for when odd
    else: #odd condition
     median = data_sorted[length // 2]


    return median
    # Your code here
    # Check for even/odd and perform calculations accordingly - use if-else

test1 = [5, 4, 1, 3, 2]
test2 = [4, 2, 3, 1]

print(get_median(test1)) # 3
print(get_median(test2)) # 2.5

3
2.5

In [3]:
#mode

# Throughout this cell, replace None with appropriate code

def get_mode(data):

    # Create and populate frequency distribution
    frequency_dict = {}

    for height in data:
        # If an element is not in the dict, add it to the dict with value 1
        # If an element is already in the dict, +1 the value in place
        if height in frequency_dict:
          frequency_dict[height] += 1
        else:
          frequency_dict[height] = 1 

    # Find the frequency of the mode(s) by finding the largest
    # value in frequency_dict
    highest_freq = max(frequency_dict.values())

    # Create a list for mode values
    modes = []

    # From the dictionary, add element(s) to the modes list with max frequency
    for height, frequency in frequency_dict.items():
        if frequency == highest_freq:
          modes.append(height)

    # Return the mode list
    return modes

test1 = [1, 2, 3, 5, 5, 4]
test2 = [1, 1, 1, 2, 3, 4, 5, 5, 5]

print(get_mode(test1)) # [5]
print(get_mode(test2)) # [1, 5]

[5]
[1, 5]

## Variance and standard deviation

In [4]:
#variance
# Replace None with appropriate code

def get_variance(sample):

    # First, calculate the sample mean using get_mean()
    sample_mean = get_mean(sample)

    sum_of_squares = 0
    for height in sample:
        # Now, calculate the sum of squares by subtracting the sample mean
        # from each height, squaring the result, and adding it to the total
        sum_of_squares += (height - sample_mean)** 2

    # Divide the sum of squares by the number of items in the sample -1 to calculate variance
    variance = sum_of_squares /(len(sample)- 1)

    return round(variance, 2)

test1 = [1, 2, 3, 5, 5, 4]
test2 = [1, 1, 1, 2, 3, 4, 5, 5, 5]
print(get_variance(test1)) # 2.67
print(get_mean(test1)) # 3.33
print(get_variance(test2)) # 3.25

2.67
3.33
3.25

In [ ]:
#standard deviation
# Replace None with appropriate code
from math import sqrt

def get_stddev(sample):

    stddev = sqrt(get_variance(sample))

    return round(stddev, 2)

test = [120,112,131,211,312,90]

get_stddev(test) # 84.03

using python built in functions
 import numpy as np
 from scipy import stats
1.for mean = np.mean(name of list)  to round it up to 2dp
round(np.mean(name_of_list),2)
2.for median = np.median(name_of_list)
 3 . for mode = stats.mode(name_of_list).mode
 4 .for variance = np.var(name_of_list,ddof= 1)
    round off to 2 dp = round(np.var(name, ddof =1),2)
5 . for standard_deviation = np.std(name_of_list)
6 . for inter-quartile range = np.percentile(name_list, 75) - np.percentile(name_list, 25)
7 . correlation = np.correlate(list_a,list_b)
8 . covariance = np.cov(x)->x is the array

In [12]:
x = {"color": "blue", "number": 7}
type(x)

dict

In [22]:
def one():
    print("one")

def two():
    return "two"

def three():
    one()
    two()
    print("three")

three()

one
three

## Data Analysis in base python

In [2]:
info_table = [
    {"color": "green", "number": 7},
    {"color": "red", "number": 2},
    {"color": "orange", "number": 1}
]

type(info_table)

list

In [3]:
for item in info_table:
    print(item)

{'color': 'green', 'number': 7}
{'color': 'red', 'number': 2}
{'color': 'orange', 'number': 1}

In [6]:
#using the pandas library
#install pandas library
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-win_amd64.whl (11.6 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from pandas) (1.26.4)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
df = pd.DataFrame(info_table)
type(df)

pandas.core.frame.DataFrame

In [5]:
print(df["color"])

0     green
1       red
2    orange
Name: color, dtype: object

## Data Manipulation in Python

In [11]:
#use a list comprehension to take the first character of each string
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

first_chars = [word[0] for word in words]
first_chars

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

In [14]:
#create a function to return the mode of a list
def mode(list_numbers):
  #create a dictionary with the num as keyword and count of num as value
  counts = { num:list_numbers.count(num) for num in list_numbers}
  #find the number with the highest frequency in the dictionary and return that num
  return [ num for num in counts if counts[num] == max(counts.values())]


#call the function
mode([1,2,3,4,5,5,5,6,7,8])

[5]

In [15]:
#list comprehension in lists
data = [1,2,3,4,5,6,7,8]

#return a list of numbers greater than 3
#using for loop
greater_than_3 =[]
for num in data:
    if num > 3:
        greater_than_3.append(num)

#using list comprehension
larger_than_3 = [num for num in data if num > 3]
larger_than_3

[4, 5, 6, 7, 8]

In [23]:
#list comprehension for dictionaries
indices,data = [2,5,7], [83,84,98]
zipped = zip(indices,data)

#creating a dictionary using for loop
#for_loop_dict = {}
#for x,y in zipped:
      #for_loop_dict[x] = y



#using dict comprehension
dict_comp = {x:y for x,y in zipped}
dict_comp

{2: 83, 5: 84, 7: 98}

In [25]:
#transforming the values of x and y
#using for loop
transformed_using_for_loop = {}
for x,y in dict_comp.items():
    transformed_using_for_loop[x//2] = y * 2

#using dict comprehension
dict_comprehension = { x//2 : y *2 for x,y in dict_comp.items()}

dict_comprehension

{1: 166, 2: 168, 3: 196}

csv reading file

In [26]:
import csv
import json

In [ ]:
#This line opens the file data/apple_orchard.csv in read mode. 
#The with statement ensures that the file is properly closed after its suite finishes, even if an exception is raised.
with open("data/apple_orchard.csv") as f:
    # Read the file and print its contents
    apple_orchard_data = list(csv.DictReader(f)) #csv.DictReader reads the file and returns each row as a dictionary of the data
    #where the keys are the column headers from the first row of the CSV file
    #list(csv.DictReader(f)) converts the DictReader object into a list of dictionaries. Each dictionary represents a row in the CSV file.
    apple_tree_yields = [float(x["yield"]) for x in apple_orchard_data] #    This list comprehension iterates over each dictionary in apple_orchard_data.
    #For each dictionary x, it accesses the value associated with the key "yield" and converts it to a float.
    #The resulting list, apple_tree_yields, contains the yield values as floating-point numbers.
    print("Total apple tree yields:", len(apple_tree_yields))
    print("First 5 apple tree yields:", apple_tree_yields[:5])  
    print("Average yield:", sum(apple_tree_yields) / len(apple_tree_yields))
    print("Maximum yield:", max(apple_tree_yields))
    print("Minimum yield:", min(apple_tree_yields))

json file

In [ ]:
def build_freq_table(key, links): #function to build a frequency table
    table = {} #create an empty dictionary to store the frequency of each user
    for link in links:  #iterate over the links For each link in links, it retrieves the value associated 
        #with the given key (either "source" or "target") and stores it in user.
        user = link[key]
        table[user] = table.get(user, 0) + 1 # It then updates the frequency count for user in table. If user is already in table, 
        #it increments the count by 1; otherwise, it initializes it to 1. 
    return table


def print_top_5(table):
    for k, v in sorted(table.items(), key=lambda x: x[1], reverse=True)[:5]:# It sorts the items in table by the frequency values (x[1]) 
    #in descending order (reverse=True). It slices the sorted list to get the top 5 items ([:5]).
        print(f"User {k}\t| {v} Tweets") #        It then prints the top 5 users and their tweet counts in a formatted string.

with open("data/twitter_graph.json") as f:
    twitter_data = json.load(f) #json.load(f) reads the JSON data from the file and parses it into a Python dictionary, which is stored in twitter_data.
    print(f"There are {len(twitter_data['nodes'])} users in this dataset") #twitter_data['nodes'] is expected to be a list of user nodes, so 
    #en(twitter_data['nodes']) gives the number of users.


    links = twitter_data["links"] #list of dictionaries
    sources = build_freq_table("source", links)#build_freq_table("source", links) creates a frequency table of the source as the key
    targets = build_freq_table("target", links)#build_freq_table("target", links) creates a frequency table of the target as the key
    print("Top 5 Sources:")
    print_top_5(sources)
    print()
    print("Top 5 Targets:")
    print_top_5(targets)

## creating a csv file given data
using  normal code and csv.reader

In [28]:
track_times = [
    [13.10, 13.59, 13.44],
    [13.93, 13.85, 13.47],
    [14.12, 14.41, 13.89],
    [14.42, 13.55, 13.43]
]
track_times

# Initialize an empty string
track_times_csv = ""

# Loop over all lists in the overall list
for index, athlete_times in enumerate(track_times):
    # Join together the values in the nested list using
    # a comma as a separator
    athlete_times_string = ",".join([str(time) for time in athlete_times])
    # Append the values to the overall string
    track_times_csv += athlete_times_string
    # Append a newline, unless this is the last row
    if index < (len(track_times) - 1):
        track_times_csv += "\n"
    
print(track_times_csv) #that's a csv

13.1,13.59,13.44
13.93,13.85,13.47
14.12,14.41,13.89
14.42,13.55,13.43

## writing a csv file using normal code

In [29]:
#writing it to a file
with open("track_times.csv", "w") as f: #opens a file named track_times.csv in write mode ("w").
    f.write(track_times_csv)   #  This line writes the contents of the variable track_times_csv to the file.
    #track_times_csv is expected to be a string containing the data to be written to the CSV file.


#reading from a csv file
with open("track_times.csv") as f: #opens the file track_times.csv in read mode.
    track_times_csv_from_disk = f.read() #reads the contents of the file and stores it in the variable track_times_csv.
    print(track_times_csv_from_disk)
#13.1,13.59,13.44
#13.93,13.85,13.47
#14.12,14.41,13.89
#14.42,13.55,13.43

In [ ]:
track_times_from_disk = [] #empty list that will store the parsed times from the CSV data.
for row in track_times_csv_from_disk.split("\n"): #splits the input string into a list of rows by separating it at each newline character ("\n").
    times = [float(time) for time in row.split(",")] #splits the current row into individual time strings by separating it at each comma (,).
    track_times_from_disk.append(times) #appends the list times (containing the converted float values for the current row) to the main list track_times_from_disk.
    
track_times_from_disk  #[[12.5, 13.1, 11.9], [14.0, 15.2, 13.3], [10.5, 12.1, 11.4]] output

## csv Module 
using csv reader to read the file

## CSV.Reader

If the data file does not contain headings, the csv.reader function works well. It will return a reader iterable that produces a Python list for each row of the file. There is a matching csv.writer option for writing data to files rather than reading data from files

In [ ]:
with open("track_times.csv") as f:
    # Pass the file in to a "reader" object and specify that
    # values without explicit quotes (i.e. all values in this
    # dataset) should be treated as numbers
    reader = csv.reader(f, quoting=csv.QUOTE_NONNUMERIC)
    # Get all of the data from the reader using `list`
    track_times_with_csv_module = list(reader)
    
track_times_with_csv_module

## csv.DictReader
If the data file does contain headings, the csv.DictReader class works well. It will use a reader iterable that produces a Python dictionary for each row of the file. There is a matching csv.DictWriter option

In [ ]:
with open("olympic_medals.csv") as f: #opens file
    reader = csv.DictReader(f) #reads file as a dictionary
    olympics_data = list(reader) #combines the dictionaries into a list

# Print the first 5 rows of data
for index in range(5):
    print(olympics_data[index])

    # Print OrderedDict from first row of CSV file 

with open(csv_file_path) as csvfile:
    reader = csv.DictReader(csvfile)
    print(next(reader))


#Let's get all of the data out of our file and into dictionaries, and store those dictionaries in a new list called sales.
    sales = []

with open(csv_file_path) as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        sales.append(row)


    #The number of rows in the dataset is just the length of the resulting list:

## CSV.DictWriter

In [1]:
with open("usa_2016_gold_medals.csv", "w") as f:
    writer = csv.DictWriter(f, fieldnames=["Event", "Name"])
    writer.writeheader()
    for row in usa_2016_gold_medals: #USA_2016_gold_medals is a list of dictionaries containing the event and name of each gold medalist.   
        writer.writerow(row)

NameError: name 'csv' is not defined

## To read the first line of a csv file

In [2]:
csv_file_path = "./Kings_County_Real_Estate_Sales.csv"

with open(csv_file_path) as csvfile:
    print(csvfile.readline())

FileNotFoundError: [Errno 2] No such file or directory: './Kings_County_Real_Estate_Sales.csv'

## Data Analysis

In [ ]:
#What is the range of years for which we have sales data?
#range -> find the highest (max) and lowest(min) value
year_range_sales =  [sale['sale_year'] for sale in sales]
                     
print(max(year_range_sales))
print(min(year_range_sales))

In [ ]:
#How many properties sold in 2020?
#create a list of all the years
all_years = [sale['sale_year'] for sale in sales]
#create a list of the 2020 years
years_with_2020 = [year for year in all_years if year == 2020]
len(years_with_2020)

In [ ]:
#What was the mean sale price in 2020?
#mean = sum /len 
#get the salePrices
sales_price_for_2020 = [sale['sale_price'] for sale in sales if sale['sale_year'] == 2020]
mean = sum(sales_price_for_2020) / len(years_with_2020)

print(mean)

In [ ]:
#How many properties sold in each year?
#use both the unique list and the whole list of years
#access the whole list
sale_year_count = []
all_years = [sale['sale_year'] for sale in sales]
#unique years 
all_unique_years = set(all_years)

#loop to iterate through and see how many times a unique year appears in the all_years list
for unique_year in all_unique_years:
    num_sales = len([year for year in all_years if year == unique_year])
    sale_year_count.append((unique_year,num_sales))

sale_year_count

## Using counter to count the number of occurrences of something in dictionaries

In [ ]:
from collections import Counter

sale_year_count = Counter([sale['sale_year'] for sale in sales]) #let's say that for all dictionaries in sales, we want to count how many property sales occured in each year.
sale_year_count

#output
"""Counter({2004: 447,
         2005: 442,
         2020: 419,
         1999: 406,
         2006: 389,
         2003: 380,
         2015: 376,
         2012: 364,
         1993: 353,
         1998: 349,
         1996: 347,
         2001: 342,
         1992: 338,
         2002: 325,
         2007: 319,
         1997: 306,
         2014: 299,
         2013: 295,
         2016: 290,
         """

#sale_year count is a dictionary with year and value pairs. To sort them in ascending order
sale_year_count = sorted(sale_year_count.items())
sale_year_count

## using datetime to convert a string to date

In [ ]:
from datetime import datetime

for sale in sales:
    # Transform DocumentDate from string to datetime
    sale["clean_date"] = datetime.strptime(sale["DocumentDate"], 
                                           "%m/%d/%Y")
    
    # Add the sale year and month to each dictionary element of sales
    sale["sale_year"] = sale["clean_date"].year
    sale["sale_month"] = sale["clean_date"].month

## Json

In [4]:
import json

to open a json file

In [ ]:
with open('nyc_2001_campaign_finance.json') as f:
    data = json.load(f)
print(type(data))

1.convert file to table format to read the contents

In [ ]:
import pandas as pd
pd.set_option("max_colwidth", 120)
pd.DataFrame(
    data=data['meta']['view'].values(), # values of the dictionary
    index=data['meta']['view'].keys(), # keys of the dictionary
    columns=["value"] # column name
)

json.load() used to load the contents of the file into a Python object,
with open('doc_info_list.json') as f:
    doc_info_list_from_disk = json.load(f)

    
json.dump()  to write the contents of the Python object into the file.
with open('doc_info_list.json', 'w') as f:
    json.dump(doc_info_list, f)

In [ ]:
#to create a dataframe(table) of a dictionary key:value pairs
import pandas as pd
df = pd.DataFrame(results)#results is a dictionary
df

Let's use IPython to display the image with 'height' 300 for each album.

In [ ]:
from IPython.display import Image

for album in data['albums']['items']:#items is a dictionary in albums
    for image in album['images']:
        if image['height'] == 300:
            loaded_image = Image(url=image['url'])
            display(loaded_image)

## Pandas
using pandas to run examine datasets and perform operations on the datasets

In [ ]:
#1. import pandas
import pandas as pd

#define the dictionary that will be used to create the dataframe
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

#output
 #cars  passings
#0    BMW         3
#1  Volvo         7
#2   Ford         2

PANDA SERIES
 is like a column in a table.
 one-dimensional array holding data of any type.

In [8]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\chika\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\chika\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#Create a simple Pandas Series from a list
import pandas as pd


a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

#return the first value of the series
print(myvar[0])

#output
#0    1
#1    7
#2    2


#creating labels 
a = [1,7,2]
myvar = pd.Series(a, index = ['x','y','z'])
print(myvar)


#output 
#x    1
#y    7
#z    2

#When you have created labels, you can access an item by referring to the label.
print(myvar('x')) # to access value 1

Pandas for a dictionary

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}#the keys of the dictionary become the labels of the new Series

myvar = pd.Series(calories)

print(myvar)


#output 
#day1    420
#day2    380
#day3    390

#To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

""" Series Methods
.value_counts() - Returns a Series containing counts of unique values. It returns a series with how many times each unique value appears in the original series.
slope
2    142 // in the original DataFrame 2 appears 142 times
1    142 // in the original DataFrame 1 appears 142 times
0     21  // in the original DataFrame 0 appears 21 times

.sort_values() - Returns a Series containing the original series sorted by values. 
# sort the values in descending order 
.sort_values(ascending = False) 
.sort_index() - Returns a Series containing the original series sorted by index.
"""
#creating fake data for series
fruits = ["apple", "banana", "cherry"]
fruits_series = pd.Series(np.random.choices(fruits, 100000)) #np.random.choices() function is used with strings,Categoricals

#generating float series
start_value = 10
end_value =20
float_series = pd.Series(np.random.uniform(start_value, end_value, 100000))
or
float_series = pd.Series(np.linspace(start_value, end_value, 100000))

#generating integer series
mean = 50
std_dev = 10
balance = pd.Series(np.random.normal(mean, std_dev, 100000))#.normal is used to generate random numbers with a normal distribution

# generate random integer from 0 to 9
random_number = np.random.randint(0, 10)

#accessing the elements of a series
fruit_series[12] #access the 12th element of the series
fruit_series[10:20] #access the 10th to 20th element of the series. Slicing the items

#creating a series with labelled index
fruits_label_series = pd.Series( np.random.choices(fruits, 100000), index = ['a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z'.split(',')])


#squaree some sliced elements
squared = fruit_series[10:20] ** 2
or 
#using for loop
squared = []
for value in fruit_series[10:20]:
    squared.append(value ** 2) #to store in a different series

    or using list comprehension
squared = [value ** 2 for value in fruit_series[10:20]]

## DATAFRAMES
these are multi-dimensional arrays.
A table of rows and columns

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

#output 
#     calories  duration
#0       420        50
#1       380        40
#2       390        45

In [ ]:
#to locate a row
#Pandas use the loc attribute to return one or more specified row(s)
print(df.loc[0])

#OUTPUT
#calories    420
#duration     50


#Return row 0 and 1:
print(df.loc[0,1])

#output
 """calories  duration
 # 0       420        50
 # 1       380        40
 """

 #NAMED INDEXES
 data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df =pd.DataFrame(data, index = ['Day1','Day2','Day3'], columns = ['calories','duration'])
print(df)
"""OUTPUT
   calories  duration
  day1       420        50
  day2       380        40
  day3       390        45
  """

#Locate Named Indexes
#refer to the named index:
print(df.loc["day2"])#same as return the value for index number 1

"""OUTPUT
calories    380
  duration     40


  Differences between loc and iloc   
    .loc[row_label, column_label]

.iloc[row_position, column_position]

Selecting via a single value : df.loc["day2"]  df.iloc[1] - to return the second row
Selecting via a list of values : df.loc[["day1", "day2"]]  df.iloc[[0, 1]] //to return both the first and second row 
Selecting a range of data via slice : df.loc["day1":"day5"]  df.iloc[0:5]  //to return the first 5 rows
Selecting via conditions and callable : df.loc[lambda df: df["calories"] > 380]  df.iloc[lambda x: x.index % 2 == 0] 
//to return the rows where the calories are greater than 380 and the rows where the index is an even number


# Slicing column labels
rows=['Thu', 'Fri'] // since Thur and Fri are used as indexes we want to print Thur row and Fri row
df.loc[rows, 'Temperature':'Humidity' ] // to print the columns from Temperature to Humidity for the rows Thur and Fri

# Slicing row labels
cols = ['Temperature', 'Wind']
df.loc['Mon':'Thu', cols] // to print the rows from Mon to Thu for the columns Temperature and Wind

# One condition
df.loc[df.Humidity > 50, :] // to print the rows where the Humidity is greater than 50 and all the columns

# multiple conditions
df.loc[
    (df.Humidity > 50) & (df.Weather == 'Shower'),  // to print the rows where the Humidity is greater than 50 and the Weather is Shower
    ['Temperature','Wind'], // to print the columns Temperature and Wind

    
    ## multiple conditions
df.loc[
     [:], // to print all the rows
    (df.Humidity > 50) & (df.Weather == 'Shower') 
    ] // to print the columns where the Humidity is greater than 50 and the Weather is Shower  

    df[(condition1) | (condition2)] -> Returns rows where either condition is true

df[(condition1) & (condition2)] -> Returns rows where both conditions are true

# 
df.loc[(df.Year == 1950) & (df.Stage == 'Group 3') , ['City']] // to print the column city values where the year is 1950 and the stage is Group 3
    or  df.loc[(df['Year'] == 1950) & (df['Stage'] == 'Group 3'),['Attendance']]
  


 
"""

In [ ]:
#DATAFRAME ATTRIBUTES
"""The shape attribute returns a tuple with the number of rows and columns in the DataFrame:
Index attribute - returns the row labels of the DataFrame
  df.index
  output:
RangeIndex(start=0, stop=178, step=1)

Columns attribute - returns the column labels of the DataFrame
   df.columns
   output:
Index(['calories', 'duration'], dtype='object')

Values attribute - returns the actual data in the DataFrame as an NDarray
    df.values
    output:
array([[420, 50],
       [380, 40],
       [390, 45]])

T attribute - transposes data (rows become columns and vice versa)
    df.T
    output:
                0    1    2
   calories    420  380  390
    duration     50   40   45

 .dtypes returns the data types of all columns in the DataFrame 
    df.dtypes
    output:
calories    int64
duration    int64
dtype: object

 df.size returns the number of elements in the DataFrame
    df.size
    output:                 
     6
  
  df.empty returns True if the DataFrame is empty (no rows or columns), False otherwise
    df.empty
    output:
    False

  df.shape returns a tuple representing the dimensionality of the DataFrame
    df.shape
    output:
    (3, 2)

    pd.concat([df1, df2]) -> Concatenates two DataFrames
    # Combine home_team_names with away_team_names and remove duplicates
country_names = pd.concat([home_team_names, away_team_names]).unique() //home_team_names and away_team_names are two dataframes

df['Total Goals'] = df['Home Team Goals'] + df['Away Team Goals'] //to add a new column to the dataframe

# Display all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name'] //to display all records containing the string Korea in the Home Team Name column

df['Home Team Name'] = df['Home Team Name'].replace({'Korea Republic': 'Korea', 'Korea DPR': 'Korea'}) //to replace the values in the Home Team Name column
"""

## LOADING FILES INTO DATA FRAMES

In [ ]:
#for csv files
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string()) #.to_string() method is used to print the entire DataFrame.
#If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:
#or print(df)

In [ ]:
#loading json files
import pandas as pd
data = pd.read_json('datajson.json')  
print(data)      

#creating tables based on datajson file
import pandas as pd
df = pd.DataFrame(data)
print(df)

## Analyzing DataFrames

In [ ]:
#1. viewing the data
#a) use of the head() method ->returns the headers and a specified number of rows, starting from the top.
#using csv as an example
import pandas as pd
data = pd.read_csv('data.csv')      

print(data.head(5))     #returns the first 5 rows of the DataFrame


#b) use of the tail() method ->returns the headers and a specified number of rows, starting from the bottom.
print(data.tail(5))    #returns the last 5 rows of the DataFrame


#C) use of the info() method ->returns a short summary of the DataFrame. Also tells us how many null values are in the dataset.
print(data.info()) #returns a short summary of the dataset

print(data.loc[0]) #returns the first row of the DataFrame with their column names
print(data.loc[0:5]) #returns the first 5 rows of the DataFrame
print(data.loc[7, "Duration"]) #returns the value in the 7th row in the "Duration" column
print(data.loc[[0, 1, 2], ["Duration", "Calories"]]) #returns the value of the rows with the specified index values, and the specified columns.
print(data.loc[0:5, "Duration"]) #returns the value of the specified rows, and the specified column.
#print(data.loc[7,'Duration']) = 45 #changes the value in the 7th row in the "Duration" column to 45
data.loc['Duration'] #returns the value of the "Duration" column
data.loc['Duration'].mean() #returns the mean value for the "Duration" column
data.loc[0:5,['Duration','Calories']] #returns the value of the rows with the specified index values, and the specified columns.


print(data.describe()) #returns the statistical summary of the dataset. Information about the number of rows, the headers of the columns
#the rows will be in form of statistics
print(data.mean()) #returns the mean value for each column
print(data.min()) #returns the lowest value for each column
print(data.max()) #returns the highest value for each column

#standard deviation
print(data.std()) #returns the standard deviation for each column
# Get the 90% quantile for all numerical columns
#select numerical columns only
numerical_columns = df.select_dtypes(include=['float64','int64'])
quantiles_90 = numerical_columns.quantile(q=0.9)

quantiles_90

#for all columns
quantiles_90 = df.quantile(q=0.9)

## Cleaning Data

### empty cells USING dropna(),fillna()

on replacing empty values:

with mean- slightly increases the median and std drops the distribution has a larger mass towards the center

with median-The variance is reduced, while the mean is slightly lowered. You can once again see that there is a larger mass of data near the center of the distribution.

Dropping missing values leaves the distribution and associated measures of centrality unchanged, but at the cost of throwing away data.

In [ ]:
#Detecting NaNs- not a number 
df.isna() #returns a DataFrame with True values where NaNs are present, and False values where the data is not NaN.
df.isna().sum() #returns the number of NaN values in each column of the DataFrame. It sums the True values in each column
"""PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177 
"""
#to count the number of NaNs in each column.
(df['Enabled'].isna()).sum() #returns the number of NaN values in the "Enabled" column of the DataFrame.
#output
#0
df.isna().sum() #returns the number of NaN values in each column of the DataFrame.

#for categorical data use .unique() method
df['column_name'].unique() #returns an array of unique values in the "column_name" column of the DataFrame.
df.unique() #returns an array of unique values in the DataFrame.


#1. empty cells - return a new dataFrame with cleaned out empty cells
import pandas as pd

data = pd.read_csv('data.csv')
#remove empty cells
new_data = data.dropna() #dropna() method removes empty cells in the DataFrame. 
print(new_data.to_string()) #.to_string() method is used to print the entire DataFrame.

df.dropna(subset=['Pclass'], inplace=True) #removes rows with empty cells in the "Pclass" column of the DataFrame.


df=df[df['Pclass'].str.contains('\?') != True] #returns a dataframe with rows that don't have special characters in the
#Pclass column

#2. removing rows with null values
import pandas as pd
#load the csv file
data = pd.read_csv('data.csv')  
#remove rows with null values
new_data = data.dropna(inplace = True) #dropna() method removes empty cells in the DataFrame.
print(new_data.to_string()) #.to_string() method is used to print the entire DataFrame.

#3. replacing empty cells with a specific value
import pandas as pd
data = pd.read_csv('data.csv')
new_data =data.fillna(130, inplace = True) #fillna() method allows us to replace empty cells with a value
or
animals_name_filled = animals.fillna({'name':'UNKNOWN'}) # {col_name:new_value}


#4. replacing only for a specific column. 
import pandas as  pd
data = pd.read_csv('data.csv')  
#replace empty cells in a column with a value 
data['Calories'] = data['Calories'].fillna(130)   #fillna() method allows us to replace empty cells with a value
#for the column named "Calories"
or

data['Calories'].fillna(130,inplace=True ) 

#5. replacing empty cells with the mean of that particular column
import pandas as pd
#read the csv file
data = pd.read_csv('data.csv')      

#get the mean of the values in the column "Calories"
x = data['Calories'].mean()

#replace empty cells with the mean of the column
new_data = data['Calories'].fillna(x ,inplace = True)

#6. replacing empty cells with the median of that particular column
import pandas as pd
#read the csv file
data = pd.read_csv('data.csv')
#get the median of the values in the column "Calories"
median = data['Calories'].median()

#replace empty cells with the median of the column
new_data = data['Calories'].fillna(median,inplace = True)

#7. replacing empty cells with the mode of that particular column
mode = data['Calories'].mode()[0]

new_data = data['Calories'].fillna(mode, inplace = True)

### cleaning data of wrong format - for datetime
use pd.to_datetime()

In [ ]:
#convert the data into a correct format of data
#convert date
import pandas as pd
data = pd.read_csv('DATACSV.csv')
#change the date column so that all the values are in datetime format
data['Date'] = pd.to_datetime(data['Date'])#changes the values in this column to date format using the to_datetime() method.
print(data.to_string())

#for values of date in wrong formatted they will be put in the correct order of datetime
#for values which are empty it will run a NaT value. Meaning it's not a Time value

#to get rid of the empty cell
df.dropna(subset=['Date'], inplace = True)

#using strftime  and pd.to_datetime
import pandas as pd
data = pd.read_csv('data.csv')
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d').strftime('%d-%m-%Y') #changes the values in this column to date format using the to_datetime() method
then 
pd.DateTime(data['Date'])

### Fixing wrong data

In [ ]:
#for example a value in row 7 column "time" was 450 instead of 45
import pandas as pd
data = pd.read_csv('data.csv')
data.loc[7, 'Time'] = 45 #change the value from 450 to 45


#for a large set of data you can use conditionsto change the values
for x in data.index: #iterate over the rows in the DataFrame
    if data.loc[x, "Duration"] > 60: #check if the value in the "Duration" column is higher than 60
        data.loc[x, "Duration"] = 60 #change the value to 60

#to remove wrong data
for x in data.index: #iterate through each row
    if data.loc[x,'Calories'] > 75:
        data.drop(x, inplace = True) #remove the row if the value in the "Calories" column is higher than 75
        #subset = ['Calories'] specifies that only the "Calories" column should be checked for empty cells.

### Removing Duplicates

df.duplicated()-to check duplicate rows

df.duplicated(keep=False)-This filters the DataFrame to include only rows that are marked as duplicates.

df.drop_duplicates(inplace=True)- remove duplicates

In [ ]:
#1. Discovering duplicates
print(df.duplicated()) #returns a boolean value for each row, True if a row is a duplicate of a previous row, otherwise False.
#if row 4 is a duplicate of row 3, then the value for row 4 will be True, otherwise False.

df.duplicated(keep=False) #returns True for all duplicates, regardless of their first occurrence.

duplicates = df[df.duplicated(subset='PassengerId')]  #returns a new DataFrame containing only the duplicates in the original DataFrame.
# Use keep=False to keep all duplicates and sort_values to put duplicates next to each other
df[df.duplicated(keep=False)].sort_values(by='business_id')

#2. removing duplicates
df.drop_duplicates(inplace = True) #removes duplicates
print(df.to_string()) #prints the DataFrame after the duplicates have been removed.
unique_sets = df.drop_duplicates(subset=['prod_id']) #removes duplicates based on the "prod_id" column.
total_pieces = unique_sets['piece_count'].sum() #sums the values in the "piece_count" column of the unique_sets DataFrame.
#The drop_duplicates() method returns a new DataFrame, but we can also remove duplicates in the original DataFrame by setting the inplace parameter to True.

### df.pivot()-make a new dataset with some columns as indexes, others as columns and values

Both are used for reshaping a dataset but

.pivot - is used for reshaping the dataset given the indexes and columns

df.pivot_table()-I used for advanced reshaping but gives an error when there are duplicates.Thus you need to  to use an aggfunc=sum,mean to replace the duplicated values with the sum, mean

Parameters:

    index: Column to use to make new frame’s index.
    columns: Column to use to make new frame’s columns.
    values: Column(s) to populate the new frame’s values.
    aggfunc: Function to aggregate values. Default is numpy.mean.
    fill_value: Value to replace missing values.
    margins: Add all rows/columns (subtotals).

In [ ]:
df.pivot(index='A', columns='B', values='C') #to pivot the data
df.pivot_table(index='A', columns='B', values='C', aggfunc='mean') #Here, the aggfunc='mean' parameter is used to aggregate duplicate values by their mean.
"""
data = {
    'date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-01'],
    'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'temperature': [30, 75, 28, 78, 32]
}
"""
df = pd.DataFrame(data)
df.pivot(index='date', columns='city', values='temperature') #to pivot the data
"""         date         city  temperature
0  2024-01-01     New York           30
1  2024-01-01  Los Angeles           75
2  2024-01-02     New York           28
3  2024-01-02  Los Angeles           78
"""
df.pivot_table(index='date', columns='city', values='temperature', aggfunc='mean') #Here, the aggfunc='mean' parameter is used to aggregate duplicate values by their mean.
"""city         Los Angeles  New York
date
2024-01-01            75        30
2024-01-02            78        28
"""

##     stack: Turns columns into rows, making the DataFrame longer.
    unstack: Turns rows into columns, making the DataFrame wider.

In [11]:
import pandas as pd

data = {
    'Store A': [10, 20, 30],
    'Store B': [15, 25, 35]
}
df = pd.DataFrame(data, index=['Product 1', 'Product 2', 'Product 3'])
print(df)

"""
          Store A  Store B
Product 1       10       15
Product 2       20       25
Product 3       30       35

"""

#using .stack
stacked_df = df.stack() #TURNS columns into rows
stacked_df

"""
Product 1  Store A    10
           Store B    15
Product 2  Store A    20
           Store B    25
Product 3  Store A    30
           Store B    35

"""

#using .unstack()
unstacked_df = stacked_df.unstack() #TURNS rows into columns.Reverses stack
unstacked_df

"""
	Store A	Store B
Product 1	10	15
Product 2	20	25
Product 3	30	35

"""

           Store A  Store B
Product 1       10       15
Product 2       20       25
Product 3       30       35

           Store A  Store B
Product 1       10       15
Product 2       20       25
Product 3       30       35

### Pandas Correlation

finding the relationship between the different columns

Anywhere from 0.6 upwards and -0.6 upwards indicates a positive correlation.   Meaning when value of one column 

increases other columns will increase as well

1.0 and -1.0 indicates perfect positive correlation

0.2 and below and -0.2 indicates both weak postive and weak negative correlation

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.corr()) #table with a lot of numbers that represents how well the relationship is between two columns.


"""output
          Duration     Pulse  Maxpulse  Calories
  Duration  1.000000 -0.155408  0.009403  0.922721
  Pulse    -0.155408  1.000000  0.786535  0.025120
  Maxpulse  0.009403  0.786535  1.000000  0.203814
  Calories  0.922721  0.025120  0.203814  1.000000
"""

## Transforming values in DATAFRAMES using Pandas

Transforming Values using  both .map, .apply, (lambda function)

In [ ]:
#TRANSFORMING DATA
# Using .map() to Transform Values
#1. PASSING IN A DICTIONARY IS One of the most straightforward ways to use the .map() method on a pandas Series is
# with a dictionary of values you want to use to replace other values.
df['DIVISION'] = df['DIVISION'].map(division_mapping) #division_mapping is a dictionary that maps the division names to their corresponding numbers

#2. PASSING IN A FUNCTION Note that for a pandas Series, the .apply() method can be used interchangeably with the .map() method 
#when a function is provided
df['On_N_Line'] = df['LINENAME'].map(contains_n) #contains_n is a function that checks if the letter 'N' is in the LINENAME column
df['On_N_Line'] = df['LINENAME'].apply(contains_n) 

#As shorthand, since this function is only one line we could also pass a lambda function to determine whether or not each row was on the N line or not,
# rather than declaring a separate function:
df['On_N_Line'] = df['LINENAME'].map(lambda x: 'N' in x)
df['On_N_Line'] = df['LINENAME'].apply(lambda x: 'N' in x)

#.str.contains() method to check if a string contains a certain substring
df['On_N_Line'] = df['LINENAME'].str.contains('N', regex=False) #regex=False to avoid treating the letter 'N' as a regular expression

TRANSFORMING COLUMNS

Transforming columns
.columns.str.strip()

.columns.str.lower()

.columns.str.upper()

df.drop(columns=['new_fruits'],inplace=True)

df.drop('column_name',axis=1)

df.drop(0,axis=0)

df.rename(columns={'old_name':'new_name'},inplace=True) // for column renaming 

df['Fruits'].replace({'apple':'pear'}) // to rename a value with another

df['column_name'].map/astype(int) -to convert the datatype to sth else. eg string to int. it is used interchangeably with .map

pd.to_datetime(df['DATE'],format='%m/%d/%Y')// to convert from dd/mm/yyyy to yyyy/mm/dd

or
df['date'].dt.strftime("%d-%m-%Y") to convert from yyy-mm-dd to dd-mm-yyyy

df['DATE'].dt.day_name() - returns the day of the week for each date in the DATE column

df= df.set_index(df['DATE'])//Sets the index of the dataframe to be the DATE column

df.reset_index()//resets the index to the previous one

df_sorted = df.sort_values(by='Num_Lines', ascending=False)//sort using Num Lines column in descending order

df['Enabled'].unique()-returns the unique values

df['Enabled'].value_counts()-returns the counts of the unique values

numeric_df = df.select_dtypes(include=['float64','int64'])//new dataframe with only the integer columns or floats

In [ ]:

df.columns = df.columns.str.strip() #removes leading and trailing whitespaces from the column names
or 
df.columns
#then 
[col.strip() for col in df.columns] #removes leading and trailing whitespaces from the column names
or
df.columns.map(lambda col: col.strip()) #removes leading and trailing whitespaces from the column names
df.columns = df.columns.str.lower() #converts the column names to lowercase
df.columns = df.columns.str.upper() #converts the column names to uppercase

#RENAMING COLUMNS
.rename() method to rename columns in a DataFrame
df.rename(columns={'old_name': 'new_name'}, inplace=True) #rename the column 'old_name' to 'new_name' and modify the original DataFrame directly
 #inplace= True is added to modify the original DataFrame directly
df.rename(columns={'C/A' : 'CONTROL_AREA'}, inplace=True)
df.rename(columns={'ENTRIES': 'TOTAL_ENTRIES'})

#renaming an index
df.rename(index={'A':'X'}, inplace=True) #rename the index 'A' to 'X'.inplace=True is added to modify the original DataFrame directly
df.rename(index={'A':'X'})


#RENAMING A VALUE
df['column_name'] = df['column_name'].replace('old_value', 'new_value') #replaces the value 'old_value' in the 'column_name' column with 'new_value'
df['fruits'] = df['fruits'].replace('Banana', 'Pear')
#RENAMING MULTIPLE VALUES
df['fruits'] = df['fruits'].replace({'apple': 'pear', 'banana': 'mango'})#as long there in the same column

otherwise you can use the .map() method to replace multiple values in a column with a dictionary


#DROPPING COLUMNS
#Let's say we have determined that the DESC column doesn't matter. We can test out dropping it like this:
df.drop('DESC', axis=1) #drops the column 'DESC'. By default, df.drop() tries to drop rows (axis=0) with the specified index, 
#but we want to drop columns (axis=1).
df.drop(columns=['new_fruits'], inplace=True)
df.drop(columns=['new_fruits', 'new_vegetables'], inplace=True) #drops the columns 'new_fruits' and 'new_vegetables'

#DROPPING MULTIPLE COLUMNS
df.drop(['DESC', 'DIVISION'], axis=1) #drops the columns 'DESC' and 'DIVISION'

#DROPPING ROWS
df.drop(0, axis=0) #drops the row with index 0. By default, df.drop() tries to drop columns (axis=1) with the specified index,
#drop using df.drop(.index)
df = df.drop(df[df['city'] == 'Chicago'].index) #drop rows where the city is Chicago

# Delete rows where the city is Chicago and the age is less than 35
df = df.drop(df[(df['city'] == 'Chicago') & (df['age'] <= 35)].index)


.astype() method to convert the data type of a column in a DataFrame
df['column_name'] = df['column_name'].astype('int') #converts the data type of the column 'column_name' to integer
df.loc[:5, 'ENTRIES'].astype(int) #converts the first 5 rows of the 'ENTRIES' column to integers
or
df.loc[:5, 'ENTRIES'].map(int) #converts the first 5 rows of the 'ENTRIES' column to integers

#to convert the 'DATE' column to a datetime data type
pd.to_datetime()
 pd.to_datetime(df['DATE'], format='%m/%d/%Y') #converts the 'DATE' column to datetime format
or 
pd.to_datetime(df['DATE']).head() #converts the 'DATE' column to datetime format
or
df['DATE'] = pd.to_datetime(df['DATE'])
df.head(2)
output for this is 2018-06-30 


.sample() method to randomly sample rows from a DataFrame
# Make a sample of rows so we can see various dates
date_sample = df['DATE'].sample(n=10, random_state=0) #randomly samples 10 rows from the 'DATE' column. random_state=0 ensures that the sample is reproducible.

.dt. - stores all the datetime methods
#1. Extract the day of the week from the date
dt.day_name() #returns the day of the week for each date in the 'DATE' column
df['DATE'].dt.day_name() #returns the day of the week for each date in the 'DATE' column
or
#2. dt.round() method to round datetime values to the nearest specified unit
rounding to the nearest 7 days:
df['DATE'].dt.round('7D')

#3. dt.to_period() method to convert datetime values to periods
df['DATE'].dt.to_period('M') #converts the 'DATE' column to periods of months.OUtput is 2018-06
or
df['DATE'].dt.to_period('W') #converts the 'DATE' column to periods of weeks. Output is 2018-06-25/2018-07-01

#4. dt.to_timestamp() method to convert periods to timestamps
df['DATE'].dt.to_timestamp() #converts the 'DATE' column to timestamps.OUtput is 2018-06-30 00:00:00

#5. dt.to_timedelta() method to convert datetime values to timedeltas       
df['DATE'].dt.to_timedelta() #converts the 'DATE' column to timedeltas. Output is 0 days

Setting a New Index
#set one of the columns as the index of the DataFrame, such as when graphing.
df = df.set_index('DATE') #sets the 'DATE' column as the index of the DataFrame
df.head()

Or the opposite, resetting the index so that the current index becomes a column and a new index is created:

df.reset_index() #resets the index of the DataFrame
#output is the index column is added to the DataFrame and the original index is reset. eg 0  2018-06-30  0  1  2018-06-30  1  2  2018-06-30  2  3  2018-06-30  3  4  2018-06-30  4

df_sorted = df.sort_values(by='Num_Lines', ascending=False)   #sorts the DataFrame by the 'Num_Lines' column in descending order

df['Enabled'].unique() shows us all the unique values contained in the column.
df['review_difficulty'].unique() #output is ['Average' 'Easy' 'Challenging' 'Very Easy' 'Very Challenging']

df['Enabled'].value_counts() shows us a count for how many times each unique value is present in a dataset, giving us a feel for the distribution of values in the column.
 df['review_difficulty'].value_counts() #output is Easy  102 Average  102 Challenging  102 Very Easy  102 Very Challenging  102
 #Sometimes, we'll need to make changes to our dataset, or to compute functions on our data that aren't built-in to Pandas.
#We can do this by passing lambda values into the apply() method when working with Pandas series, and the .applymap() method when working with Pandas DataFrames.
#For example, let's say we want to convert all the values in the 'Num_Lines' column to strings:
display(df['Age'].apply(lambda x: x**2).head()) #squares each value in the 'Age' column

string_df = df.applymap(lambda x: str(x)) #converts all the values in the DataFrame to strings

 Select only the numeric columns
numeric_df = df.select_dtypes(include=['number'])

## .groupby() method

 for aggregation of data

 for transformation of data
 
 for filtering data

In [ ]:
#1. for aggregate functions min(), max(), mean(), count(),median()
# Calculate the sum of sales for each category
category_sales_sum = df.groupby('Category')['Sales'].sum()
""" 
Category
A    250
B    450
C    650
Name: Sales, dtype: int64
"""

df.groupby(['Sex', 'Pclass']).mean() #group by multiple columns. sex and pclass will be first and 2nd columns.Returns a dataframe will all columns

df.groupby(['Sex', 'Pclass'])['Survived'].mean()#slices the dataframe to only show the 'Survived' column.


#for multiple aggregations
# Perform multiple aggregations
aggregated_df = df.groupby('Category').agg(
    total_sales=('Sales', 'sum'),
    average_sales=('Sales', 'mean'),
    count=('Sales', 'size')
)
"""
            total_sales  average_sales  count
Category                                    
A                 250          125.0      2
B                 450          225.0      2
C                 650          325.0      2
"""
#2. TRANSFORMING DATA
# Normalize sales within each category
df['Normalized Sales'] = df.groupby('Category')['Sales'].transform(lambda x: (x - x.mean()) / x.std())

"""
Category  Sales  Normalized_Sales
0        A    100         -1.0
1        A    150          1.0
2        B    200         -1.0
3        B    250          1.0
4        C    300         -1.0
5        C    350          1.0
"""

#3. FILTERING DATA
# Filter categories with total sales greater than 400
filtered_df = df.groupby('Category').filter(lambda x: x['Sales'].sum() > 400)
print(filtered_df)
"""
  Category  Sales
2        B    200
3        B    250
4        C    300
5        C    350
"""
grouped = df.groupby(['State','Gender'])[['Deaths','Population']].agg([ 'mean','min','max','std'])

## creating dataframe using fake data

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(777) #sets the random seed to 777

data = pd.DataFrame({'A':np.random.randn(365).cumsum(), #creates a DataFrame with 365 rows and 3 columns
                    'B':np.random.randn(365).cumsum() + 25,  #cumsum() method calculates the cumulative sum of the values in the array
                    'C':np.random.randn(365).cumsum() - 25},  #-25 shifts the values down by 25
                     index = pd.date_range('1/1/2018', periods = 365)) #creates a date range starting from 1/1/2018 with 365 periods

data.head()

	            A        	B	      C
2018-01-01	-0.468209	25.435990	-22.997943
2018-01-02	-1.291034	26.479220	-22.673404
2018-01-03	-1.356414	25.832356	-21.669027
2018-01-04	-2.069776	26.456703	-21.408310
2018-01-05	-1.163425	25.864281	-22.685208

data.plot() #plots the data in the DataFrame
data.plot('A', 'B', kind='scatter'); #creates a scatter plot of columns 'A' and 'B'
data.plot.scatter('A', 'C',  
                  c = 'B',
                  s = data['B'],
                  colormap = 'viridis'); #creates a scatter plot of columns 'A' and 'C' with 'B' as the color and size of the points
data.plot.box(); #creates a box plot of the data in the DataFrame
data.plot.hist(alpha=0.7); #creates a histogram of the data in the DataFrame
data.plot.kde(); #creates a kernel density estimate plot of the data in the DataFrame
scatter_matrix(data, alpha=0.2, figsize=(6, 6), diagonal='kde'); #creates a scatter matrix of the data in the DataFrame
parallel_coordinates(data, 'B'); #creates a parallel coordinates plot of the data in the DataFrame

## DATA VISUALIZATION WITH PANDAS

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
 %matplotlib inline  #to display the plots in the Jupyter notebook after the cell that creates the plot  

data = pd.read_csv('data.csv') #loads the data from the 'data.csv' file into a DataFrame
#1. histogram
plt.hist(df['OverallCond'],bins = 10, range =(0,10) , edgecolor = 'black', color ='skyblue') #0 to 10 is the range of the data
plt.title('Overall Condition')
plt.xlabel('OverallCond')
plt.ylabel('Frquency')
plt.grid(True)
plt.show()

#subplot
plt.subplot(1,2,1) #1 row, 2 columns, 1st subplot

fig, axes = plt.subplots(nrows=3, ncols=4, figsize=(10,10)) #creates a 3x4 grid of subplots with a figure size of 10x10
x = np.linspace(start=-10, stop=10, num=10*83) #creates an array of 830 values from -10 to 10
for i in range(12): #iterates over the range 0-11
    row = i//4 #calculates the row number
    col = i%4   #calculates the column number
    ax = axes[row, col] #selects the current axis
    ax.scatter(x, x**i) #creates a scatter plot of x^i
    ax.set_title(f'Plot of x^{i}') #sets the title of the plot
plt.show()

#creating a barchart. 
#for you to create a bar graph you need to have a dataset that has two columns. One column will be the x-axis and the other column will be the y-axis.
#can use the groupby method to create the dataset
# Plotting the bar chart
plt.figure(figsize=(10, 6))
groupby_sum.plot(kind='bar')# groupby_sum is the DataFrame with the total sales for each category
plt.title('Total Deaths by State')
plt.xlabel('State')
plt.ylabel('Total Deaths')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(True)
plt.show()


#to plot a horizontal bar chart
pivot.plot(kind='barh', figsize=(15, 8)) #pivot is the DataFrame with the total sales for each category and subcategory

pivot.plot(kind='barh', figsize=(15, 8),stacked=True)# pivot has State and Gender,to stack the female and male gender values for each state


# Plot a stacked bar chart for eye color by hair color
eye_hair_counts = cleaned_heroes_df.groupby(['Hair color', 'Eye color']).size().unstack().fillna(0)#using the columns create a dataset that can be plotted

# Plotting
eye_hair_counts.plot(kind='bar', stacked=True, figsize=(12, 8))
plt.title('Stacked Bar Chart of Eye Color by Hair Color')
plt.xlabel('Hair Color')
plt.ylabel('Count')
plt.legend(title='Eye Color')
plt.show()

#getting the chi square
from scipy.stats import chi2_contingency

# Perform Chi-Square test
chi2, p, dof, expected = chi2_contingency(eye_hair_crosstab)

print(f"Chi-Square Statistic: {chi2}")
print(f"P-Value: {p}")

if p < 0.05:
    print("There is a statistically significant relationship between eye color and hair color.")
else:
    print("There is no statistically significant relationship between eye color and hair color.")

## LAMBDA FUNCTIONS

In [ ]:
df['index'].map(lambda x: x**2).head() #squares each value in the 'index' column
string_df = df.applymap(lambda x: str(x)) #converts all the values in the DataFrame to strings
df['text'].map(lambda x: len(x.split())) #counts the number of words in each value in the 'text' column


#generating rows and columns using // and %
for i in range(12):
    print(f'i: {i}, Row: {i//4} Column: {i%4}')
"""
i: 0, Row: 0 Column: 0
i: 1, Row: 0 Column: 1
i: 2, Row: 0 Column: 2
i: 3, Row: 0 Column: 3
i: 4, Row: 1 Column: 0
i: 5, Row: 1 Column: 1
i: 6, Row: 1 Column: 2
i: 7, Row: 1 Column: 3
i: 8, Row: 2 Column: 0
i: 9, Row: 2 Column: 1
i: 10, Row: 2 Column: 2
i: 11, Row: 2 Column: 3
"""
#get average no of words in the text column
df['text'].map(lambda x: len(x.split())).mean() #counts the number of words in each value in the 'text' column and calculates the mean

## np.where()
np.select()

In [ ]:
filled_age = np.where(data['Age'].isna(), mean_age, data['Age']) #fills the empty cells in the 'Age' column with the mean age
data['Age'] = filled_age #replaces the 'Age' column with the filled_age values

#np.select() method to replace values based on multiple conditions
conditions = [data['Age'] < 18, data['Age'] >= 18] #creates a list of conditions
choices = ['Child', 'Adult'] #creates a list of choices
data['Age Group'] = np.select(conditions, choices, default='Unknown') #replaces values based on the conditions and choices

## Concatenation of dataframes

In [ ]:
#1. using pd.concat()
to_concat =[df1,df2,df3]

big_df = pd.concat(to_concat) #concatenates the DataFrames in the list to create a new DataFrame


#2. using joins
outer join- returns all records from both tables
inner join- returns only the  records with matching keys in both tables
left join- returns all records on the left table + records with matching keys in right table
right join - returns all records on the right table + records with matching keys in left table


#DataFrames contain a built-in .join() method. 
# By default, the table calling the .join() method is always the left table. 

joined_df = df1.join(df2, how='inner') #joins df1 and df2 using an inner join. It can also be left,right,outer
#if how not specified it will automatically do a left join

"""
NOTE: If both tables contain columns with the same name, the join will throw an error due to a naming collision, 
since the resulting table would have multiple columns with the same name. To solve this, pass in a value to lsuffix= or rsuffix=, 
which will append this suffix to the offending columns to resolve the naming collisions.

df1_and_4 = df1.join(df4, how='inner', lsuffix='_df1', rsuffix='_df4') #joins df1 and df4 using an inner join, appending '_df1' to the columns from df1 and '_df4' to the columns from df4
"""
#pd.concat with axis
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]})

result = pd.concat([df1, df2], axis=1) #to concatenate horizontally along the  columns specify axis =1
"""
Output:

   A  B  C   D

0  1  4  7  10

1  2  5  8  11

2  3  6  9  12
"""

or 
df1 = pd.DataFrame({'A': [1, 2, 3],# all have differnt columns

                    'B': [4, 5, 6]})

df2 = pd.DataFrame({'C': [7, 8, 9],

                    'D': [10, 11, 12]})

result = pd.concat([df1, df2], axis=1)

print(result)
"""
A  B  C   D

0  1  4  7  10

1  2  5  8  11

2  3  6  9  12

"""
#pd.concat
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

result = pd.concat([df1, df2], axis=0) #to concatenate vertically along the rows specify axis =0
"""
Output:

   A   B
0  1   4

1  2   5

2  3   6

0  7  10

1  8  11

2  9  12
"""

#ignore index
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=[0, 1, 2])

df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]}, index=[2, 3, 4])

result = pd.concat([df1, df2], ignore_index=True) #to ignore the index
"""
Output:

   A   B
0  1   4
1  2   5

2  3   6

3  7  10

4  8  11

5  9  12
"""
#.append and pd.concat
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

result = df1.append(df2) and pd.concat([df1, df2]) #to append the two dataframes
"""
   A   B

0  1   4

1  2   5

2  3   6

0  7  10

1  8  11

2  9  12
"""
#join
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=[0, 1, 2])

df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]}, index=[2, 3, 4])

result = df1.join(df2)

print(result)
"""
     A    B    C     D
0  1.0  4.0  NaN   NaN
1  2.0  5.0  NaN   NaN
2  3.0  6.0  7.0  10.0
"""

In [ ]:
#create a list 
dectractors= df['Rating'].apply(lambda rating: rating < 6).index.tolist() #creates a list of the indices of the detractors
or
dectractors= list(filter(lambda rating: rating < 6, df['Rating'])) #creates a list of the detractors

names= []
for i in detractors: #iterates over the detractors list 
    names.append(df['Name'].iloc[i]) #appends the name of the customer at index i to the names list

## .get.level_values -for both outer and innermost level columns

In [ ]:
#outermost level columns
name_of_dataset.columns.get_level_values(0) #returns the outermost level of the columns in the DataFrame in form of a list
eg. grouped.columns.get_level_values(0) #returns the outermost level of the columns in the grouped DataFrame


#inner most level columns
name_of_dataset.columns.get_level_values(-1/1) #returns the innermost level of the columns in the DataFrame in form of a list

## Flattening a dataframe
Flattening is defined as Converting or Changing data format to a narrow format.

In [17]:
#use of .stack and .unstack()

## STACKING AND UNSTACKING DataFrames

.stack() method has stacked our DataFrame from a flattened format into one with a multi-hierarchical index. 

This is an easy, quick way to aggregate our data.

In [ ]:
grouped.stack() #changes it from a dataset to an aggregated data
"""
0    State                    Alabama
     Gender                    Female
     Deaths_mean            10753.325
     Deaths_min                    10
     Deaths_max                116297
                            ...      
101  Deaths_std           2569.276968
     Population_mean         139223.6
     Population_min               244
     Population_max            694760
     Population_std     241359.853616
Length: 1020, dtype: object

"""
grouped.unstack() #returns it back to the table format
"""
State	Alabama	Alaska	Arizona	Arkansas	California	Colorado	Connecticut	Delaware	District of Columbia	Florida	...	South Dakota	Tennessee	Texas	Utah	Vermont	Virginia	Washington	West Virginia	Wisconsin	Wyoming
Gender																					
Female	10753.325	679.975000	8998.386364	6621.615385	48312.840909	6460.162791	7144.641026	2000.029412	1497.580645	36019.071429	...	1932.757576	13334.325	33897.953488	3046.547619	2124.695652	13232.146341	9796.863636	6247.225806	9918.113636	1161.031250
Male	10765.850	860.357143	10036.204545	6301.690476	49555.522727	6442.500000	6315.300000	1940.914286	1534.80645
"""
#calling it again returns a flattened structure
grouped.unstack()
"""
State          Gender
Alabama        Female    10753.325000
               Male      10765.850000
Alaska         Female      679.975000
               Male        860.357143
Arizona        Female     8998.386364
                             ...     
West Virginia  Male       6211.612903
Wisconsin      Female     9918.113636
               Male       9573.454545
Wyoming        Female     1161.031250
               Male       1149.514286

"""

## Getting outliers 
1. Has two ways of getting outliers
    1. using z scores - if it's a normal distribution graph 
    2. using iqr -if it's a skewed distribution. Inter-Quartile Range
    3. Box plots - a Box and Whisker Chart shows the following points of data:

Minimum range

Lower quartile

Median

Upper quartile

Maximum range

In [ ]:
#using z scores 
#1. manual way 
given dataset, get the mean of a series , get the std then get the z scores
df['z_scores'] = (df['column'] - df['column'].mean()) / df['column'].std() #calculates the z-scores for the 'column' column 

#define the outlier threshold
outlier_threshold = 3

#find the outliers
outliers = df[df['z_scores'].abs() > outlier_threshold] #finds the outliers in the 'z_scores' column

#. using scipy
from scipy.stats import zscore

df['z_scores'] = zscore(df['column']) #calculates the z-scores for the 'column' column


#using .apply() method to calculate the z-scores for multiple columns

df[['z_scores_A', 'z_scores_B']] = df[['A', 'B']].apply(zscore) #calculates the z-scores for the 'A' and 'B' columns


#2. using iqr
#1. Calculate the first quartile
Q1 = df['column'].quantile(0.25)
Q2 = df['column'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR

# Find the outliers
outliers = df[(df['column'] < lower_bound) | (df['column'] > upper_bound)] #finds the outliers in the 'column' column


#3. using box plots
# Create a box plot using the matplotlib library
plt.boxplot(df['column']) #creates a box plot of the 'column' column    
plt.show()

## Dropping rows
calculate the percentage of data missing, put it in a table

In [ ]:
#calculate the sum of missing values in each column
missing_values = df.isnull().sum().sort_values(ascending=True) #calculates the sum of missing values in each column
#calculate the percentage of missing values in each column
missing_values_percentage = (df.isnull().sum() / len(df)).sort_values(ascending=True) * 100 #calculates the percentage of missing values in each column
#put the data in a  dataframe with missing values and percentages an index as missing_count.index
missing_data = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_values_percentage  index=missing_count.index}) #creates a DataFrame with the missing values and percentages


#dropping all rows by index where the value is 0
df = df.drop(df[df['column'] == 0].index) #drops all rows where the value in the 'column' column is 0

#then drop columns with all missing values that are not that significant
df = df.dropna(axis=1, how='all') #drops columns with all missing values

In [ ]:
#transposing columns to indexes
df2_transposed = df2.T #transposes the DataFrame df2
#renaming the index to 'name'
df2_transposed = df2_transposed.rename(index={'old_name': 'new_name'}) #renames the index 'old_name' to 'new_name'
or 
df2_transposed = df2_transposed.rename_axis('name') #renames the index to 'name'

## Tableau

1. used for sharing the data analytics with others
2. used for creating dashboards. sort and display data to gain deeper insight into the data being analyzed. 
3. supports creation of stories.A story is simply a collection of dashboards, worksheets, and tables organized in a manner to present the data and analysis in a format that is easy for the audience to view and understand.

it is very similar to a powerpoint